<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat UI</title>
  <link rel='stylesheet' href="css/bootstrap.min.css">
  <!-- <link rel='stylesheet' href="css/bootstrap-material-design.css"> -->
  <link rel='stylesheet' href="css/icon.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- partial:index.partial.html -->
  <div>
    <div class="chat-circle-outter" id="chat-circle">
      <div class="welcome-text">
        <p class="mb-0">
          🙌 Welcome back!<br> How may I help you today?
        </p>
  
      </div>
    <div  class="btn btn-raised chat-circle-image" >
      <img src="./images/logo-img.png" class="img-fluid">
    </div>
   
    </div>
    <div class="chat-box">
      <div class="chat-box-header">
        <div class="chat_box_header_logo d-flex align-items-center">
          <div class="header_logo">
          <a href="" class="">
            <img src="./images/logo-img.png" class="img-fluid">
          </a>
          </div>
          <div class="header_name">
            <h1>Homefirst DMC</h1>
            <p class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M10 1C5.03125 1 1 5.03125 1 10C1 14.9688 5.03125 19 10 19C14.9688 19 19 14.9688 19 10C19 5.03125 14.9688 1 10 1Z" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10"/>
              <path d="M10 4V10.75H14.5" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> A few minutes</p>
          </div>
        </div>
        <div class="header_btn d-flex" style="gap:4px;">
          
          <span class="chat-box-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
              <path d="M8.4713 1.07407L0.890182 8.65518" stroke="black" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
              <path d="M0.890182 1.07407L8.47129 8.65518" stroke="black" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </span>
        </div>
      </div>
      <div class="chat-box-body">
        <div class="chat-box-overlay"></div>
        <div class="days text-center"><span>Today </span></div>
        <div class="chat-logs">
          <div id="cm-msg-2" class="chat-msg user" style="">
            <div class="answer">
              <div class="cm-msg-text">Hi, it's great to see you! 👋</div>
              <div class="cm-msg-text text-downword">What information are you looking for?</div>
            </div>
            
            <!-- <div class="chat-msg  chat-user" style="">
              <p>Wed 3:00 PM</p>
            </div> -->
          </div>
          <!-- homefirst categories start -->
<div class="home-first-category-main">
<div class="home-first-category-main-outter">
<div class="category-box">
  <div class="category-card">
  <div class="category-image">
    <img src="./images/nurse.png" class="img-fluid">
    </div>
    <div class="category-name">
<p class="mb-0">Nursing Care</p>
    </div>
    </div>
</div>
<div class="category-box">
  <div class="category-card">
  <div class="category-image">
    <img src="./images/physical.png" class="img-fluid">
    </div>
    <div class="category-name">
<p class="mb-0">Physical Therapy</p>
    </div>
    </div>
</div>
<div class="category-box">
  <div class="category-card">
  <div class="category-image">
    <img src="./images/home-health.png" class="img-fluid">
    </div>
    <div class="category-name">
<p class="mb-0">Home Health <br> Aides</p>
    </div>
</div>
</div>
<div class="category-box">
  <div class="category-card">
  <div class="category-image">
    <img src="./images/nurse.png" class="img-fluid">
    </div>
    <div class="category-name">
<p class="mb-0">Nursing Care</p>
    </div>
    </div>
</div>
</div>
</div>
          <!-- homefirst categories end -->
          <div id="cm-msg-1" class="chat-msg self" style="">
            <div class="cm-msg-text">
              <h3>Lorem ipsum dolor sit amet</h3>
            </div>
            <p>Wed 3:00 PM</p>
          </div>
          <div id="cm-msg-2" class="chat-msg user" style="">
            <div class="answer">
              <div class="cm-msg-text">Ridvi Pcysto well 2.0 is an ayurvedic
                formulation designed to treat...</div>
            </div>
           
          </div>
          
          <!-- ticket div start here -->
          <div class="ticket_sec">
            <button class="previous-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14" fill="none">
                <path d="M1 7H17" stroke="#6097b4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M7 13L1 7L7 1" stroke="#6097b4" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </button>
            <button class="next-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14" fill="none">
                <path d="M17 7H1" stroke="#6097b4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M11 13L17 7L11 1" stroke="#6097b4" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </button>
            <div class="ticket_outer mt-3">
              <div class="ticket_place_name">
                <!-- <h5>Washington D.C. to New Delhi</h5> -->
              </div>
              <div class="ticket_inner">
                <div class="category-image">
                  <img src="https://images.moneycontrol.com/static-mcnews/2022/09/Health-insurance.png" class="img-fluid">
                  </div>
                
                <div class="view_more text-center">
                  <a href="">View More</a>
                </div>
              </div>
            </div>
          </div>
          <!-- ticket div end here -->

        </div>


        <!--chat-log -->
      </div>
      <div class="chat-input">
        <form>
          <input type="text" id="chat-input" placeholder="Type your message here" />
          <button type="submit" class="chat-submit" id="chat-submit">
            
            <!-- <img src="./images/logo_Sharif.png" class="send_btn"> -->
            <div class="send_btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.323 0.292921C21.6027 0.564559 21.6974 0.967791 21.5668 1.33038L14.7188 20.3304C14.5794 20.7174 14.2107 20.9825 13.7889 20.9992C13.367 21.0159 12.9774 20.7808 12.8059 20.4062L9.05365 12.2076L0.611114 8.56384C0.225282 8.39731 -0.0167773 8.01894 0.000433928 7.60926C0.0176452 7.19959 0.290639 6.84162 0.689158 6.70617L20.2546 0.0561695C20.628 -0.0707359 21.0432 0.0212832 21.323 0.292921ZM11.062 11.6715L13.633 17.289L18.1322 4.80571L11.062 11.6715ZM16.6759 3.3915L3.8211 7.76063L9.60575 10.2573L16.6759 3.3915Z" fill="white"/>
              </svg>
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- partial -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>